@charset "UTF-8";
/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---------------------- 

CSS TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
    # BODY
    # HEADINGS
    # LIST-STYLES
    # HORIZONTAL RULE
# COMPONENTS
    # BUTTONS
        #LINKS
        #DETAILS/SUMMARY
# MEDIA
    # RESPONSIVE IMAGES
    # RESPONSIVE YOUTUBE VIDEO
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRIDS
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        #SECTIONS
    # SITE FOOTER

------------------------- */
/* TYPOGRAPHY */
body {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 100%; /* 16px */
  line-height: 1.3;
  color: rgb(83, 76, 84);
}

h1 {
  font-family: "blenny", sans-serif;
  margin: 0;
  max-width: 37em;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: mrs-eaves, serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h3 {
  font-family: "blenny", sans-serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
}

h4 {
  font-family: "blenny", sans-serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
  text-transform: uppercase;
  letter-spacing: 0px;
}

h5, h6 {
  font-family: "blenny", sans-serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
  letter-spacing: 0px;
}

/* Traditional typographic scale
    48, 36, 24, 21, 18, 16 */
h1 {
  font-size: 3em;
  line-height: 1em;
} /* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1em;
} /* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2em;
} /* 24 / 16 = 1.5em */
h4 {
  font-size: 1.31em;
  line-height: 1.3em;
} /* 21 / 16 = 1.31em */
h5 {
  font-size: 1.13em;
  line-height: 1.4em;
} /* 18 / 16 = 1.13em */
h6 {
  font-size: 1em;
  line-height: 1.5em;
} /* 16 / 16 = 1em */
p {
  margin: 0 0 0.5em 0;
  max-width: 37em;
}
p.note {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 90%;
  font-weight: 100;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

/* HORIZONTAL RULE */
hr {
  border: 0;
  max-width: 80%;
  height: 1px;
  margin: 4em auto;
}

/* HELPERS */
.headline {
  font-size: 4em;
  font-weight: 300;
  color: #02CED9;
  margin: 0;
  text-align: left;
}

.subheadline {
  font-family: mrs-eaves, serif;
  font-size: 2.5em;
  font-weight: 400;
  font-style: normal;
  color: #CA142F;
  margin: 0.25em 0 0.5em 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: right;
}

blockquote {
  font-size: 1.14em;
  line-height: 1.3;
  padding: 1.5em;
  max-width: 38em;
  font-family: mrs-eaves, serif;
}

blockquote cite {
  display: block;
  opacity: 0.8;
  font-size: 0.85em;
  color: white !important;
}

blockquote cite:before {
  content: "—";
  font-size: 0.8em;
  margin-right: 0.25em;
}

/* SECTION HEADING */
.section-heading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-family: "blenny", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid rgba(229, 237, 235, 0.445);
  margin: 3em 0;
}

ul {
  list-style-type: none;
}

h1.red, h2.red, h3.red, h4.red, h5.red, h6.red, li.red, p.red, font.red, blockquote.red {
  color: #CA142F !important;
}
h1.orange, h2.orange, h3.orange, h4.orange, h5.orange, h6.orange, li.orange, p.orange, font.orange, blockquote.orange {
  color: #FF6F00 !important;
}
h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow, h6.yellow, li.yellow, p.yellow, font.yellow, blockquote.yellow {
  color: #ffc400 !important;
}
h1.green, h2.green, h3.green, h4.green, h5.green, h6.green, li.green, p.green, font.green, blockquote.green {
  color: #A4CB0A !important;
}
h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, li.blue, p.blue, font.blue, blockquote.blue {
  color: #02CED9 !important;
}
h1.purple, h2.purple, h3.purple, h4.purple, h5.purple, h6.purple, li.purple, p.purple, font.purple, blockquote.purple {
  color: #8C48A1 !important;
}
h1.black, h2.black, h3.black, h4.black, h5.black, h6.black, li.black, p.black, font.black, blockquote.black {
  color: black;
}
h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, li.white, p.white, font.white, blockquote.white {
  color: white;
}
h1.rainbow, h2.rainbow, h3.rainbow, h4.rainbow, h5.rainbow, h6.rainbow, li.rainbow, p.rainbow, font.rainbow, blockquote.rainbow {
  background-color: #CA142F;
  background-image: linear-gradient(45deg, #CA142F 16.666%, #FF6F00 16.666%, #FF6F00 33.333%, #ffc400 33.333%, #ffc400 50%, #A4CB0A 50%, #A4CB0A 66.666%, #02CED9 66.666%, #02CED9 83.333%, #8C48A1 83.333%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
          animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
h1.rainbow:hover, h2.rainbow:hover, h3.rainbow:hover, h4.rainbow:hover, h5.rainbow:hover, h6.rainbow:hover, li.rainbow:hover, p.rainbow:hover, font.rainbow:hover, blockquote.rainbow:hover {
  -webkit-animation: rainbow-text-simple-animation 1s ease-in forwards;
          animation: rainbow-text-simple-animation 1s ease-in forwards;
}
h1.rainbow-2, h2.rainbow-2, h3.rainbow-2, h4.rainbow-2, h5.rainbow-2, h6.rainbow-2, li.rainbow-2, p.rainbow-2, font.rainbow-2, blockquote.rainbow-2 {
  background-color: #CA142F;
  text-shadow: -2px -2px black;
  background-image: linear-gradient(45deg, #CA142F 16.666%, #FF6F00 16.666%, #FF6F00 33.333%, #ffc400 33.333%, #ffc400 50%, #A4CB0A 50%, #A4CB0A 66.666%, #02CED9 66.666%, #02CED9 83.333%, #8C48A1 83.333%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
          animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
h1.rainbow-2:hover, h2.rainbow-2:hover, h3.rainbow-2:hover, h4.rainbow-2:hover, h5.rainbow-2:hover, h6.rainbow-2:hover, li.rainbow-2:hover, p.rainbow-2:hover, font.rainbow-2:hover, blockquote.rainbow-2:hover {
  -webkit-animation: rainbow-text-simple-animation 1s ease-in forwards;
          animation: rainbow-text-simple-animation 1s ease-in forwards;
}

/* BUTTONS */
button {
  font-size: inherit;
}

button,
a.button {
  display: inline-block;
  background-color: #CA142F;
  border: 1px solid #CA142F;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffc400;
  color: #ffc400;
}

button:hover,
a.button:hover {
  background-color: #02CED9;
  color: #fff;
  border-color: #02CED9;
  text-decoration: none;
  border-radius: 1em;
  font-style: italic;
}

/* LINKS */
a {
  text-decoration: none;
}
a .red {
  color: #CA142F;
}
a .orange {
  color: #FF6F00;
}
a .yellow {
  color: #ffc400;
}
a .green {
  color: #A4CB0A;
}
a .blue {
  color: #02CED9;
}
a .purple {
  color: #8C48A1;
}

a:hover {
  color: black;
}

details {
  margin: 0 auto;
}
details p {
  line-height: 1;
  padding: 10px 0;
}

summary {
  display: inline-block;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 7px;
  margin: 0 auto;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}
summary.boop {
  margin: 0 auto;
  background-image: linear-gradient(45deg, #CA142F 16.666%, #FF6F00 16.666%, #ffc400 33.333%, #A4CB0A 50%, #02CED9 66.666%, #8C48A1 83.333%);
  position: relative;
  padding: 3px;
  display: inline-block;
  border-radius: 7px;
  background-size: 100%;
  background-repeat: repeat;
  -webkit-border-color: transparent;
  -webkit-animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
          animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  -webkit-background-clip: border;
}
summary.boop span {
  display: inline-block;
  background: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: 6px;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
}
summary.boop span:hover {
  background: none;
  color: white;
}

summary:hover {
  -webkit-animation: rainbow-text-simple-animation 1s ease-in forwards;
          animation: rainbow-text-simple-animation 1s ease-in forwards;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESPONSIVE YOUTUBE VIDEO */
iframe {
  max-width: 100%;
  max-height: 100vh;
}

#movie {
  background-color: rgba(0, 0, 0, 0.85);
  color: white !important;
}

/* VIDEO BACKGROUND */
#myVideo {
  position: fixed;
  bottom: 0;
  right: auto;
  left: auto;
  max-height: 100vh;
  width: auto;
  z-index: -500;
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
  overflow-x: hidden;
}
@media (min-width: 768px) {
  #myVideo {
    min-width: 100%;
    -webkit-transform: translateX(-22.5%);
            transform: translateX(-22.5%);
    height: 100%;
  }
}
@media (min-width: 1050px) {
  #myVideo {
    min-width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 100%;
  }
}
@media (min-width: 1250px) {
  #myVideo {
    min-width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 100%;
  }
}

/* HELPERS */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.fade-in-text {
  -webkit-animation: fadeIn ease-in 1.25s;
          animation: fadeIn ease-in 1.25s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5000;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
@-webkit-keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 1000%;
  }
  100% {
    background-size: 1000%;
  }
}
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 1000%;
  }
  100% {
    background-size: 1000%;
  }
}
/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.container-center {
  margin: 0 auto;
  padding: 0;
  position: center;
  text-align: center;
}

.container-full {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.animate-on-scroll.from-left[data-sectionstate=active] > *:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.animate-on-scroll.from-left[data-sectionstate=inactive] > *:nth-child(1) {
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
  opacity: 0;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .container-left {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
  }
  .card {
    max-width: 80%;
    margin: auto;
    padding: 1em 2em;
    border-radius: 40px;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
  .container-left {
    max-width: 1000px;
    margin: 0 auto 0 10em;
    padding: 0 1em;
  }
  .card {
    max-width: 75%;
    margin: auto;
    padding: 1em 3em;
    border-radius: 40px;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .four-fifths {
    width: 78%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .three-fifths {
    width: 58%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .two-fifths {
    width: 38%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .one-fifth {
    width: 18%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.3333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .push-three-fourths {
    margin-left: 76%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}
.row.edgy {
  margin: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.row.edgy.white {
  background-color: white;
  border: 20px solid white, 5px solid black;
  border-radius: 50px;
  border-radius: 50px;
  margin: 40% auto 10% auto !important;
  padding: 50px 15% 50px 15% !important;
  width: 100%;
}
.row.edgy .auto-fit {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.row.edgy .text-column-right,
.row.edgy .text-column-left {
  padding-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50% !important;
  width: 50% !important;
  -o-object-fit: none;
     object-fit: none;
  margin: auto;
}
.row.edgy .text-column-right h3,
.row.edgy .text-column-left h3 {
  font-size: 3em;
  line-height: 0.5;
}
.row.edgy > * {
  margin: 0;
}
@media (min-width: 768px) {
  .row.edgy .one-half {
    width: 50%;
  }
  .row.edgy .one-third {
    width: 33.3333%;
  }
  .row.edgy.white {
    width: 70%;
    margin: 0 auto;
  }
  .row.edgy.white h3 {
    font-size: 5em;
    line-height: 0.85;
    padding-bottom: 0.5em;
  }
  .row.edgy > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* SITE STRUCTURE */
/* SITE FOOTER */
.site-footer {
  position: static;
  width: 100%;
  z-index: 10;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CA142F;
  background-image: linear-gradient(45deg, #CA142F 16.666%, #FF6F00 16.666%, #FF6F00 33.333%, #ffc400 33.333%, #ffc400 50%, #A4CB0A 50%, #A4CB0A 66.666%, #02CED9 66.666%, #02CED9 83.333%, #8C48A1 83.333%);
  background-size: 100%;
  background-repeat: repeat;
}
.site-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.site-footer ul li {
  text-decoration: none;
  list-style: none;
}
.site-footer ul li a {
  color: white;
  padding: 10px;
  margin: 1em;
  font-family: "blenny", sans-serif;
  font-size: 200%;
}
.site-footer ul li a:hover {
  color: black;
}

section {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.scroll-snap {
  width: 100vw;
  height: 100vh;
  margin: auto;
  border: solid black 2px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  display: block;
}

.rounded-border {
  border: 20px solid white, 5px solid black;
  border-radius: 50px;
  position: fixed relative;
  bottom: 0;
  right: auto;
  left: auto;
  height: auto;
  max-width: 100%;
  z-index: -5;
  overflow: hidden;
}
.rounded-border video {
  max-width: 100%;
  height: auto;
  border: 20px solid white, 5px solid black;
  border-radius: 50px;
}

/* HERO SECTION */
.hero {
  text-align: right;
  min-height: 100vh;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  top: 0;
  right: 0;
  position: absolute;
}
.hero h1 {
  font-weight: 500;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
  font-size: 4em;
  line-height: 0.5;
  margin: 0;
}
.hero h1.designs {
  font-size: 2.75em;
  padding-top: 1.5%;
}
.hero h2.zuniga {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  margin: 0;
  padding-top: 0;
  font-size: 2.25em;
  font-family: mrs-eaves, serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: black;
}
@media (min-width: 768px) {
  .hero h1 {
    color: black;
    font-size: 4em;
  }
  .hero h1.designs {
    font-size: 3em;
    padding-top: 2%;
  }
  .hero h2.zuniga {
    font-size: 2.5em;
  }
  .hero > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1050px) {
  .hero h1 {
    color: black;
    font-size: 4em;
  }
  .hero h1.designs {
    font-size: 3em;
    padding-top: 2%;
  }
  .hero > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1250px) {
  .hero h1 {
    color: black;
    font-size: 9em;
  }
  .hero h1.designs {
    font-size: 5em;
    padding-top: 2.5%;
  }
  .hero h2.zuniga {
    font-size: 5em;
    letter-spacing: 0.4em;
  }
  .hero > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.hawaii-bkg {
  background-image: url(/img/general/hawaii-1.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 100vh;
  height: 150%;
  width: 100%;
}

.strip {
  margin: 0;
  padding: 1em 0;
}
.strip.red-50 {
  background-color: rgba(202, 20, 47, 0.7882352941);
  color: white;
}
.strip.red-50.top {
  margin: 25% 0;
}
.strip.orange-50 {
  background-color: rgba(255, 111, 0, 0.7764705882);
}
.strip.yellow-100 {
  background-color: #ffc400;
  color: white;
}
.strip.green-50 {
  background-color: rgba(164, 203, 10, 0.8901960784);
  color: white;
}
.strip.blue-50 {
  background-color: rgba(2, 206, 217, 0.9058823529);
}
.strip.blue-50 p {
  color: white;
}
.strip.purple-50 {
  background-color: rgba(140, 72, 161, 0.8039215686);
}
.strip.white-50 {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2.5% 0 2.5% 0;
}
.strip.white-50.top {
  margin-top: 20%;
  margin-bottom: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.strip.black-50 {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 5vw;
  color: white;
}
.strip.black-50.top {
  margin-top: 20%;
  margin-bottom: 20%;
}

#myself h1 {
  line-height: 0.95;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
#myself h1.hi {
  font-size: 5em;
}
#myself h1.sub {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  line-height: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
#myself h2 {
  font-size: 1.75em;
  font-family: mrs-eaves, serif;
  text-transform: none;
  letter-spacing: 0px;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-weight: 100;
  max-width: 30%;
}
#myself p {
  margin: 0;
  margin-left: 5vw;
}
#myself p:hover {
  background-color: white;
}
#myself p font {
  font-family: "blenny", sans-serif;
  padding: 0;
  line-height: 1.25;
  font-size: 2.75em;
  max-width: 100%;
  text-align: center;
}
#myself h3 {
  font-size: 2.75em;
  color: white;
  padding: 0;
  margin: 0;
}
#myself .row.edgy {
  margin-bottom: 15vw;
}
#myself .row.edgy .one-half {
  max-width: 47.5vw;
}
#myself .row.edgy .one-half.auto-fit.white-50 {
  background-color: rgba(255, 255, 255, 0.95);
  max-height: 47.5vw;
  margin-bottom: 0;
}
#myself .row.edgy .one-half.auto-fit.white-50 .p {
  max-width: 43vw;
  padding-top: 1em;
}
#myself .row.edgy .one-half.auto-fit.white-50 .p.contact summary {
  margin-left: 12.5em;
}
#myself .row.edgy .one-half.auto-fit.white-50 .p.contact details p {
  font-size: 1.25em;
  padding: 0 30px;
}
#myself .row.edgy .one-half.auto-fit img {
  margin-left: 5vw;
  max-width: 47.5vw;
  margin-top: 0;
  height: auto;
}
#myself .about-me-photos {
  max-height: 100%;
  width: auto;
  overflow: clip;
  margin-bottom: 0;
  background-image: url(/img/general/rainbow-brick.gif);
  border: 20px solid white, 5px solid black;
  border-radius: 50px;
  margin-top: 30em;
  padding-bottom: 2em;
}
#myself .about-me-photos h1.rainbow {
  font-size: 6em;
  background-size: 50%;
}
#myself .about-me-photos .row {
  border: 20px solid white, 5px solid black;
  border-radius: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#myself .about-me-photos .row h1 {
  text-align: left;
  font-size: 5em;
  padding-top: 0;
  margin-top: 92%;
  background-size: 50%;
  position: absolute;
}
#myself .about-me-photos .row h2 {
  position: absolute;
  margin-left: 1em;
  margin-top: 98%;
  font-size: 1.5em;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 1.25em 0 1.5em 0;
  font-family: mrs-eaves, serif;
  font-weight: 100;
  margin-bottom: 0;
  color: black;
}
#myself .about-me-photos .row.contact summary {
  margin-left: 12.5em;
}
#myself .about-me-photos .row.contact details p {
  font-size: 1.25em;
  padding: 0 30px;
}
#myself .about-me-photos img {
  max-height: 100%;
  width: auto;
  overflow: clip;
  border: 20px solid white, 5px solid black;
  border-radius: 50px;
  margin-bottom: 4em;
}
@media (min-width: 768px) {
  #myself .about-me-photos .row h1 {
    text-align: left;
    font-size: 4.5em;
    padding-top: 0;
    margin-top: 26%;
    position: absolute;
  }
  #myself .about-me-photos .row h2 {
    position: absolute;
    margin-top: 31%;
    font-size: 1.25em;
    letter-spacing: 0;
    color: black;
    text-transform: capitalize;
    padding: 1.25em 0 1.5em 0;
    font-family: mrs-eaves, serif;
    font-weight: 100;
    margin-bottom: 0;
    max-width: 25%;
  }
  #myself .about-me-photos .row.contact summary {
    margin-left: 0;
  }
  #myself .about-me-photos .row.contact details p {
    font-size: 1.25em;
    padding: 0 30px;
  }
  #myself .about-me-photos img {
    max-height: 100%;
    width: auto;
    overflow: clip;
    border: 20px solid white, 5px solid black;
    border-radius: 50px;
  }
}
@media (min-width: 1050px) {
  #myself .about-me-photos .row {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #myself .about-me-photos .row h1 {
    text-align: left;
    font-size: 5em;
    padding-top: 0;
    margin-top: 28%;
    position: absolute;
  }
  #myself .about-me-photos .row h2 {
    position: absolute;
    margin-top: 32%;
    font-size: 1.5em;
    letter-spacing: 0;
    color: black;
    text-transform: capitalize;
    padding: 1.25em 0 1.5em 0;
    font-family: mrs-eaves, serif;
    font-weight: 100;
    margin-bottom: 0;
  }
  #myself .about-me-photos img {
    max-height: 100%;
    width: auto;
    overflow: clip;
    border: 20px solid white, 5px solid black;
    border-radius: 50px;
  }
}
@media (min-width: 1250px) {
  #myself .about-me-photos .row {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #myself .about-me-photos .row h1 {
    text-align: left;
    font-size: 5em;
    padding-top: 0;
    margin-top: 28%;
    position: absolute;
  }
  #myself .about-me-photos .row h2 {
    position: absolute;
    margin-top: 32%;
    font-size: 1.5em;
    letter-spacing: 0;
    color: black;
    text-transform: capitalize;
    padding: 1.25em 0 1.5em 0;
    font-family: mrs-eaves, serif;
    font-weight: 100;
    margin-bottom: 0;
  }
  #myself .about-me-photos img {
    max-height: 100%;
    width: auto;
    overflow: clip;
    border: 20px solid white, 5px solid black;
    border-radius: 50px;
  }
}
#myself .about-me-photos > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (min-width: 768px) {
  > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1050px) {
  > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1250px) {
  > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
#letters {
  background-image: url(/img/general/lettering-1.jpg);
  background-position: middle center fixed relative;
  background-size: contain;
}

#design video#myVideo2 {
  position: fixed relative;
  bottom: 0;
  right: auto;
  left: auto;
  min-height: 100vh;
  width: auto;
  z-index: 0;
  overflow-x: hidden;
}
#design.row.edgy.extra {
  position: fixed absolute;
  z-index: 500;
}
@media (min-width: 768px) {
  #design > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1050px) {
  #design > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1250px) {
  #design > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

#branding.left .row {
  margin: 0;
}
#branding.left .row.edgy.extra.intro {
  background-image: url(/img/calm/square-buddha.jpg);
  overflow: hidden;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  min-height: 120vh;
  min-width: 100%;
  left: 5vw;
  z-index: 20;
  bottom: 0;
}
#branding.left .row.edgy.extra.intro blockquote {
  font-size: 3em;
  bottom: 0;
  left: 1;
  line-height: 1;
  max-width: 50vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
#branding.left .row.edgy.extra.intro blockquote:hover {
  background-color: rgb(0, 0, 1);
}
#branding.left .row.edgy.extra.intro h1.title {
  padding-top: 37%;
  z-index: 1000;
  color: white;
  font-size: 6em;
  line-height: 0.65;
  margin-left: 5vw;
}
#branding.left .row.calm {
  background-image: url(/img/calm/calm-square.jpg);
  overflow-x: hidden;
  background-size: 200vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100%;
  left: 0;
  z-index: 20;
}
#branding.left .row.dark {
  background-color: rgba(0, 0, 0, 0.9);
}
#branding.left .row.dark img {
  height: auto;
  min-width: 100%;
}
@media (min-width: 768px) {
  #branding.left > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1050px) {
  #branding.left > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1250px) {
  #branding.left > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

section.left .extra {
  width: auto;
  height: 100vh;
  z-index: 1;
}
section.left .extra blockquote {
  font-size: 3em;
  margin: 0 0 1.5em 1.5em;
  line-height: 1;
  max-width: 9em;
  background-color: white;
  border-left: 0;
  padding: 0.5em 1em;
}
section.left .extra h1.title {
  padding-top: 11%;
  z-index: 1000;
  color: black;
  font-size: 6em;
  line-height: 0.65;
  margin: 0 0 0 1em;
}
@media (min-width: 768px) {
  section.left > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1050px) {
  section.left > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1250px) {
  section.left > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

section.right .extra {
  width: 100%;
  height: 100vh;
  z-index: 1;
  text-align: right;
  right: 0;
  display: block;
}
section.right .extra blockquote {
  font-size: 3em;
  line-height: 1;
  max-width: 9em;
  background-color: rgba(0, 0, 0, 0);
  border-right: 0;
  padding: 0.5em 0 0.5em 0.5em !important;
  right: 0;
  margin-left: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-top: 0;
}
section.right .extra h1.title {
  padding-top: 12%;
  z-index: 1000;
  color: white;
  font-size: 6em;
  line-height: 0.65;
  margin: 0 !important;
}
section.right .extra.bottom-right {
  position: absolute;
}
@media (min-width: 768px) {
  section.right > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1050px) {
  section.right > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1250px) {
  section.right > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* SITE-NAV */
.site-header-small .site-id {
  position: fixed;
  bottom: 0;
  right: left;
}
.site-header-small .site-id svg {
  height: 10vh;
  width: auto;
  fill: white;
}
.site-header-small .site-nav {
  min-height: 6em;
  margin-top: 0 !important;
}
.site-header-small .site-nav ul {
  background-color: rgba(238, 64, 64, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 0;
  margin-top: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 3000;
}
.site-header-small .site-nav ul li {
  opacity: 1 !important;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  font-size: 500%;
  padding: 0;
  margin: 0.5em;
  font-family: "blenny", sans-serif;
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  left: 0;
  width: 100vw;
}
.site-header-small .site-nav ul li a {
  opacity: 1 !important;
  margin: 0;
}
.site-header-small .site-nav ul li a.red {
  color: #CA142F;
}
.site-header-small .site-nav ul li a.red::after {
  content: "bout me + my brain.";
}
.site-header-small .site-nav ul li a.orange {
  color: #FF6F00;
}
.site-header-small .site-nav ul li a.orange::after {
  content: "randing + logo design.";
}
.site-header-small .site-nav ul li a.yellow {
  color: #ffc400;
}
.site-header-small .site-nav ul li a.yellow::after {
  content: "reative type + lettering.";
}
.site-header-small .site-nav ul li a.green {
  color: #A4CB0A;
}
.site-header-small .site-nav ul li a.green::after {
  content: "esigned by me.";
}
.site-header-small .site-nav ul li a.blue {
  color: #02CED9;
}
.site-header-small .site-nav ul li a.blue::after {
  content: "xtra shit born from ADHD.";
}
.site-header-small .site-nav ul li a.purple {
  color: #8C48A1;
}
.site-header-small .site-nav ul li a.purple::after {
  min-width: 100%;
  content: "uck... what was i doing?";
}
.site-header-small .site-nav ul li a svg {
  fill: white;
  z-index: 0;
  width: 3em;
  height: auto;
  line-height: 0;
  bottom: -8%;
  left: -0.1%;
  position: fixed;
}
.site-header-small .site-nav[data-navstate=closed] ul {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
.site-header-small .site-nav a {
  display: inline-block;
  padding: 0.75em;
  line-height: 1;
}
.site-header-small .site-nav .menu-button {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: pink;
  padding: 0.7em;
  position: fixed;
  z-index: 20;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  border-radius: 0;
  left: 0;
}
.site-header-small .site-nav .menu-button svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.site-header-small .site-nav .menu-button svg rect {
  fill: pink;
}
@media (min-width: 768px) {
  .site-header-small {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
  }
}

.site-header {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
@media (min-width: 768px) {
  .site-header {
    z-index: 900;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 0;
    line-height: 0;
    background-size: 60%;
  }
  .site-header .site-nav {
    max-height: 100vh;
    margin-top: 0 !important;
  }
  .site-header .site-nav ul {
    list-style: none;
    display: block;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 1em 0;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 0;
    width: 5vw;
  }
  .site-header .site-nav ul:hover {
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .site-header .site-nav ul li {
    bottom: 0;
    opacity: 1 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc(2.5vw + 2.5vh);
    padding: 0.1em;
    margin: 1em 0.25em;
    line-height: 0;
    font-family: "blenny", sans-serif;
  }
  .site-header .site-nav ul li.top {
    margin-top: 0;
  }
  .site-header .site-nav ul li a {
    opacity: 1 !important;
  }
  .site-header .site-nav ul li a.red {
    color: #CA142F;
  }
  .site-header .site-nav ul li a.orange {
    color: #FF6F00;
  }
  .site-header .site-nav ul li a.yellow {
    color: #ffc400;
  }
  .site-header .site-nav ul li a.green {
    color: #A4CB0A;
  }
  .site-header .site-nav ul li a.blue {
    color: #02CED9;
  }
  .site-header .site-nav ul li a.purple {
    color: #8C48A1;
  }
  .site-header .site-nav ul li a svg {
    fill: black;
    z-index: 0;
    width: 2em;
    height: auto;
    line-height: 0;
    top: -0.1%;
    left: -0.1%;
    position: fixed;
  }
  .site-header .site-nav ul li a:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: transparent;
  }
  .site-header .site-nav ul li a:hover.red::after {
    content: "bout me + my brain.";
  }
  .site-header .site-nav ul li a:hover.orange::after {
    content: "randing + logo design.";
  }
  .site-header .site-nav ul li a:hover.yellow::after {
    content: "reative type + lettering.";
  }
  .site-header .site-nav ul li a:hover.green::after {
    content: "esigned by me.";
  }
  .site-header .site-nav ul li a:hover.blue::after {
    content: "xtra shit born from ADHD.";
  }
  .site-header .site-nav ul li a:hover.purple::after {
    min-width: 100%;
    content: "uck... what was i doing?";
  }
  .site-header .site-nav ul li svg:hover {
    fill: indigo;
  }
  .site-header .site-nav ul > * {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}