/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---------------------- 

CSS TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
    # BODY
    # HEADINGS
    # LINKS
# COMPONENTS
    # BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRIDS
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        #SECTIONS
    # SITE FOOTER

------------------------- */
/* TYPOGRAPHY */
body {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 100%; /* 16px */
  line-height: 1.3;
  color: rgb(83, 76, 84);
}

h1, h2, h3 {
  font-family: mr-eaves-modern, sans-serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h4 {
  font-family: mr-eaves-modern, sans-serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
  text-transform: uppercase;
  letter-spacing: 0px;
}

h5, h6 {
  font-family: mr-eaves-modern, sans-serif;
  margin: 0 0 0.5em 0;
  max-width: 37em;
  letter-spacing: 0px;
}

/* Traditional typographic scale
    48, 36, 24, 21, 18, 16 */
h1 {
  font-size: 3em;
  line-height: 1em;
} /* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1em;
} /* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2em;
} /* 24 / 16 = 1.5em */
h4 {
  font-size: 1.31em;
  line-height: 1.3em;
} /* 21 / 16 = 1.31em */
h5 {
  font-size: 1.13em;
  line-height: 1.4em;
} /* 18 / 16 = 1.13em */
h6 {
  font-size: 1em;
  line-height: 1.5em;
} /* 16 / 16 = 1em */
p {
  margin: 0 0 0.5em 0;
  max-width: 37em;
}

/* Horizontal Rule */
hr {
  border: 0;
  max-width: 80%;
  height: 1px;
  margin: 4em auto;
}

/* HELPERS */
.headline {
  font-size: 4em;
  font-weight: 300;
  color: rgb(167, 217, 208);
  margin: 0;
}

.subheadline {
  font-family: mr-eaves-modern, sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  font-style: italic;
  color: black;
  margin: 0.25em 0 0.5em 0;
}

/* SECTION HEADING */
.section-heading {
  color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid rgba(229, 237, 235, 0.445);
  margin: 3em 0;
}

/* BUTTONS */
button {
  font-size: inherit;
}

button,
a.button {
  display: inline-block;
  background-color: rgb(202, 20, 47);
  border: 1px solid rgb(202, 20, 47);
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(248, 219, 114);
  color: rgb(248, 219, 114);
}

button:hover,
a.button:hover {
  background-color: rgb(33, 181, 166);
  color: #fff;
  border-color: rgb(33, 181, 166);
  text-decoration: none;
  border-radius: 1em;
  font-style: italic;
}

/* LINKS */
a {
  color: rgb(244, 174, 106);
  text-decoration: none;
}

a:hover {
  color: rgb(167, 217, 208);
}

summary {
  display: inline-block;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.75em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  background-color: rgb(202, 20, 47);
  border: 1px solid rgb(202, 20, 47);
}

summary:hover {
  background-color: rgb(33, 181, 166);
  border: 1px solid rgb(33, 181, 166);
}

#categories {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

#categories li {
  position: relative;
  list-style-type: none;
  width: 27.8571428571%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.1676014517%; /* =  width /0.866 */
  float: left;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(3n+2) {
  margin: 0 1%;
}

#categories li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child {
  margin-bottom: 0%;
}

#categories li * {
  position: absolute;
  visibility: visible;
}

#categories li > div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-visibility: hidden;
}

/* HEX CONTENT */
#categories li img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#categories div h1, #categories div p {
  width: 90%;
  padding: 0 5%;
  background-color: #008080;
  background-color: rgba(0, 128, 128, 0.8);
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  -webkit-transition: top 0.2s ease-out, bottom 0.2s ease-out, 0.2s padding 0.2s ease-out;
  transition: top 0.2s ease-out, bottom 0.2s ease-out, 0.2s padding 0.2s ease-out;
}

#categories li h1 {
  bottom: 110%;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  padding-top: 100%;
  padding-bottom: 100%;
}

#categories li h1:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 45%;
  width: 10%;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid #fff;
}

#categories li p {
  padding-top: 50%;
  top: 110%;
  padding-bottom: 50%;
}

/* HOVER EFFECT  */
#categories li div:hover h1 {
  bottom: 46%;
  padding-bottom: 10%;
}

#categories li div:hover p {
  top: 50%;
  padding-top: 10%;
}

#fork {
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  padding: 0.5em 0.7em;
  margin: 1%;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  overflow: hidden;
}

#fork:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background: #000;
  z-index: -1;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translateX(-100%) skewX(-45deg);
          transform: translateX(-100%) skewX(-45deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#fork:hover {
  color: #fff;
}

#fork:hover:before {
  -webkit-transform: translateX(0) skewX(-45deg);
          transform: translateX(0) skewX(-45deg);
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.flag:hover {
  background-color: green;
}

/* HELPERS */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.fade-in-text {
  -webkit-animation: fadeIn ease-in 1.25s;
          animation: fadeIn ease-in 1.25s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}
/* RESET BODY */
body {
  margin: 0;
  overflow-x: hidden;
  background-image: url(/img/Strawberries-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.card {
  width: 95%;
  margin: 0 auto;
  padding: 0 4em;
  border-radius: 40px;
  z-index: 5;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6 {
  background-color: rgba(255, 255, 255, 0.95);
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .container-left {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
  }
  .card {
    max-width: 80%;
    margin: auto;
    padding: 1em 2em;
    border-radius: 40px;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
  .container-left {
    max-width: 1000px;
    margin: 0 auto 0 10em;
    padding: 0 1em;
  }
  .card {
    max-width: 75%;
    margin: auto;
    padding: 1em 3em;
    border-radius: 40px;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .four-fifths {
    width: 78%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .two-thirds {
    width: 64.6666%;
  }
  .row .three-fifths {
    width: 58%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .two-fifths {
    width: 38%;
  }
  .row .one-third {
    width: 31.3333%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .one-fifth {
    width: 18%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.3333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .push-three-fourths {
    margin-left: 76%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgb(248, 219, 114);
  color: white;
  padding: 1%;
}

/* SITE STRUCTURE */
/* SITE HEADER */
.site-header {
  color: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
}
.site-header .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .logomark {
  margin-right: 1em;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.05em;
  font-family: mr-eaves-modern, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

/* SITE FOOTER */
.site-footer {
  background: rgb(33, 181, 166);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4em 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HERO SECTION */
.hero {
  text-align: left;
  padding: 8em, 0, 4em, 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero h1 {
  font-weight: 500;
  padding: 0 10px 13px 19px;
  margin-top: 1em;
  margin-bottom: 0.25em;
  color: darkslategray;
  font-size: 5em;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.hero p {
  margin-bottom: 1em;
  font-size: 1.75em;
}
.hero .button {
  margin-bottom: 4em;
}

.frgrd {
  max-height: 20vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

/* SITE-NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav a {
  display: inline-block;
  padding: 0.75em;
  line-height: 1;
}

.site-header {
  position: fixed;
  z-index: 20;
}
.site-header .site-nav ul {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.site-header .site-nav ul li {
  border-bottom: 1px solid white;
  min-width: 600px;
  font-size: 200%;
}
.site-header .site-nav[data-navstate=closed] ul {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
.site-header .site-nav a {
  display: inline-block;
  padding: 0.75em;
  line-height: 3;
}
.site-header .site-nav .menu-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.7em;
  position: relative;
  z-index: 20;
}
.site-header .site-nav .menu-button svg {
  display: block;
}
.site-header .site-nav .menu-button svg rect {
  fill: rgb(202, 20, 47);
}
.site-header .site-nav .menu-button svg.simple-x-animation rect {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-top {
  -webkit-transform: translate(-5px, 9px) rotate(30deg);
          transform: translate(-5px, 9px) rotate(30deg);
}
.site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-mid {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}
.site-header .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-bot {
  -webkit-transform: translate(-5px, -9px) rotate(-30deg);
          transform: translate(-5px, -9px) rotate(-30deg);
}
.site-header .site-nav .menu-button svg.squish-x-animation rect {
  -webkit-transform-origin: center;
          transform-origin: center;
}
.site-header .site-nav .menu-button svg.squish-x-animation rect#menubar-mid {
  -webkit-transition: all 0s linear 0.3s;
  transition: all 0s linear 0.3s;
}
.site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation rect {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-top {
  -webkit-animation-name: squish-x-top;
          animation-name: squish-x-top;
}
.site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-mid {
  opacity: 0;
}
.site-header .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-bot {
  -webkit-animation-name: squish-x-bot;
          animation-name: squish-x-bot;
}
@-webkit-keyframes squish-x-top {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
            transform: translate(-5px, 9px) rotate(30deg);
  }
}
@keyframes squish-x-top {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
            transform: translate(-5px, 9px) rotate(30deg);
  }
}
@-webkit-keyframes squish-x-bot {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
            transform: translate(-5px, -9px) rotate(-30deg);
  }
}
@keyframes squish-x-bot {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
            transform: translate(-5px, -9px) rotate(-30deg);
  }
}