/* RESET BODY */ 

body {
    margin: 0;
}

/* CONTAINER */ 

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

.container-center {
    margin: 0 auto;
    padding: 0;
    position: center;
    text-align: center;
}

.container-full {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    width: 95%;
    margin: 0 auto;
    padding: 0 4em;
    z-index: 5;
}



.hawaii {
    background-image: url(/img/general/hawaii-1.jpg);
    color: darkslategrey;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 150%;
    width: 100%;
}









// #section2, #section3, #section4, #section5  {
//     padding-top: 7em;
//     padding-bottom: 7em;
// }



.animate-on-scroll.from-left[data-sectionstate='active'] > *:nth-child(1) {
    transform: translate(0,0);
    opacity: 1;
}

.animate-on-scroll.from-left[data-sectionstate='inactive'] > *:nth-child(1) {
    transform: translate(-60px, 0);
    opacity: 0;
   
}

// .animate-on-scroll.from-left[data-sectionstate='active'] > *:nth-child(2) {
//     border: 10px solid blue;
// }







/* MEDIA QUERIES */

/* RESPONSIVE TYPOGRAPHY */
// SMALL
body { font-size:87.5%;}

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }

    .container-left {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 1em;
    }

    .card {
        max-width: 80%;
        margin: auto;
        padding: 1em 2em;
        border-radius: 40px;
    }

   
}


@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%; }

    .container-left {
        max-width: 1000px;
        margin: 0 auto 0 10em;
        padding: 0 1em;
    }

    .card {
        max-width: 75%;
        margin: auto;
        padding: 1em 3em;
        border-radius: 40px;
    }

}