/* RESPONSIVE IMAGES */

img {
    max-width: 100%;
    height: auto;
}

/* RESPONSIVE YOUTUBE VIDEO */

iframe {
    max-width: 100%;
    max-height: 100vh;
}

#movie {
    background-color: rgba(0, 0, 0,.85);
    color: white !important;
}
